<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Last Appearance in PI Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<!-- ヘッダー -->
<header>
    <!-- タイトル・サブタイトル -->
    <section class="hero is-small is-primary has-background-primary-dark">
        <div align="center" class="hero-body">
            <h1 class="title">
                Last Appearance in PI
            </h1>
            <p>
                Search for the latest appearing number in pi.<br>
                円周率の中で最も遅く出現する数値の探索
            </p>
    </section>
</header>

<!-- ボディ -->

<body>

    <!-- メインコンテンツ -->
    <div align="center" class="column">
        <!-- 本文 -->
        <article class="box media">
            <div class="media-content">
                <div class="content">
                    <h2>Now <span style="font-weight: bold; font-size: 60px;"
                            th:text=" '&quot;' +  ${CURRENT_DIGITS} + '&quot;'">&quot;9&quot;</span> Digits Processing..
                    </h2>
                    現在 "<span th:text="${CURRENT_DIGITS}">9</span>" 桁を探索中..
                </div>

                <p style="font-size: smaller;">
                    I have pi data with
                    <span class="has-text-weight-bold" th:text="${YCD_MAX_DEPTH}">999,999,999,999</span>
                    digits.
                </p>

                <p style="font-size: smaller;">
                    update:
                    <span th:text="${SERVER_TIME}">yyyy/mm/dd HH:MM:SS</span>
                    (please reload)
                </p>

            </div>
        </article>

        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">

                        <div class="content">
                            <H2>Progress Information</H2>
                            <table style="width:0; white-space:nowrap;" class="table is-narrow ">
                                <tr>
                                    <td align="right" style="width:0; white-space:nowrap;">
                                        Progress Rate:
                                    </td>
                                    <td align="right" style="width:0; white-space:nowrap;">
                                        <div class="has-text-weight-bold" th:text="${CURRENT_PROGRESS_RATE}+'%'">9999999%</div>
                                    </td>
                                    <td>
                                        進捗率
                                    </td>

                                </tr>

                                <tr>
                                    <td align="right" style="width:0; white-space:nowrap;">
                                        Process Time(sec):
                                    </td>
                                    <td align="right" style="width:0; white-space:nowrap;">
                                        <div class="has-text-weight-bold" th:text="${CURRENT_ELAPSED_TIME}">9999999</div>
                                    </td>
                                    <td>
                                        探索処理時間(秒)
                                    </td>
                                </tr>

                                <tr>
                                    <td align="right" style="width:0; white-space:nowrap;">
                                        Now Deepest:<br/>
                                        Appearing Position:</br>
                                    </td>
                                    <td align="right" class="has-text-weight-bold" style="width:0; white-space:nowrap;">
                                        "<span th:text="'' + ${CURRENT_DEEPEST_FIND}">9999999</span>"<br />
                                        <span th:text="${CURRENT_DEEPEST_FIND_POSITION}">9,999,999</span>
                                    </td>
                                    <td>
                                        現在の最遅出現<br/>
                                        場所
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
        </section>



        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-half">

                        <div class="content">

                            <h2>Finished Result</h1>
                                <table bclass="table is-narrow">
                                    <thead>
                                        <th>Digits<br />桁</th>
                                        <th>Appearing<br />最遅出現</th>
                                        <th>Position<br />出現桁</th>
                                        <th>ProcessTime(Sec)<br />処理時間(秒)</th>
                                    </thead>
        
                                    <tbody>
                                        <tr th:each="map : ${DATA}">
                                            <td th:text="${map.get('digits')}"></td>
                                            <td th:text="${map.get('Appearing')}"></td>
                                            <td th:text="${map.get('Depth')}"></td>
                                            <td th:text="${map.get('ProcessTimeSec')}"></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                    </div>
                </div>
        </section>



        <article class="box media">
            <div class="media-content">
                <a class="button is-black" href="https://github.com/genhirano/Last-Appearance-in-PI" target="_blank">
                    project github : <span class="icon"><i class="fab fa-github"></i></span>
                </a>
            </div>
        </article>
    </div>

    <!-- フッター -->
    <footer class="footer has-background-primary-dark has-text-white">
        <p class="has-text-centered">
            Copyright © 2022-2024 genhirano
        </p>
        <p class="has-text-centered">
            All Rights Reserved
        </p>
        <p align="center">
            <a class="button is-link" href="https://www.facebook.com/genhirano" target="_blank">
                contact : <span class="icon"><i class="fab fa-facebook"></i></span>
            </a>
            <a class="button is-black" href="https://github.com/genhirano" target="_blank">
                contact : <span class="icon"><i class="fab fa-github"></i></span>
            </a>
        </p>
    </footer>

</body>

</html>