<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Last Appearance in PI Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" content="notranslate">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.0/css/all.css">
</head>

<!-- ヘッダー -->
<header>
    <!-- タイトル・サブタイトル -->
    <section class="hero is-small is-primary has-background-primary-dark">
        <div class="hero-body">
            <h1 class="title">
                Last Appearance in PI
            </h1>
            <h2 class="subtitle">
                Search for the latest appearing number in pi.
            </h2>
            ServerTime : 
            <span th:text="${SERVER_TIME}">yyyy/mm/dd HH:MM:SS</span>
            (please reload)
        </div>
    </section>
</header>

<!-- ボディ -->

<body>

    <!-- メインコンテンツ -->
    <div class="column">
        <!-- 本文 -->
        <article class="box media">
            <div class="media-content">
                <div class="content">
                    Now Progress
                    <table border="1" class="table is-narrow">
                        <tr >
                            <td style="width:0; white-space:nowrap;">
                                DIGITS:
                            </td>
                            <td style="width:0; white-space:nowrap;">
                                <div th:text="${CURRENT_DIGITS}">9999999</div>
                            </td>
                            <td>
                                現在探索中の桁数
                            </td>
                        </tr>

                        <tr>
                            <td style="width:0; white-space:nowrap;">
                                PROGRESS_RATE:
                            </td>
                            <td style="width:0; white-space:nowrap;">
                                <div th:text="${CURRENT_PROGRESS_RATE}">9999999</div>
                            </td>
                            <td>
                                進捗率
                            </td>

                        </tr>

                        <tr>
                            <td style="width:0; white-space:nowrap;">
                                ELAPSED_TIME(sec):
                            </td>
                            <td style="width:0; white-space:nowrap;">
                                <div th:text="${CURRENT_ELAPSED_TIME}">9999999</div>
                            </td>
                            <td>
                                この桁の探索処理時間(秒)
                            </td>
                        </tr>

                        <tr>
                            <td style="width:0; white-space:nowrap;">
                                DEEPEST_FIND_POSITION:
                            </td>
                            <td style="width:0; white-space:nowrap;">
                                <div th:text="${CURRENT_DEEPEST_FIND_POSITION}">9999999</div>
                            </td>
                            <td>
                                この桁の最深部の発見位置
                            </td>
                        </tr>

                        <tr>
                            <td style="width:0; white-space:nowrap;">
                                MAX_DEPTH:
                            </td>
                            <td style="width:0; white-space:nowrap;">
                                <div th:text="${YCD_MAX_DEPTH}">9999999</div>
                            </td>
                            <td>
                                最大探索深度
                            </td>

                    </table>
                </div>

                <div class="content">
                    Finished Result
                    <table border="1" class="table is-narrow" style="table-layout:fixed;">
                        <tr>
                            <th width="50px">finished result</th>
                        </tr>

                        <tr th:each="line : ${DATA}">
                            <td width="50px">
                                <p th:text="${line}">LINE 1</p>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
        </article>

    </div>



    <!-- フッター -->
    <footer class="footer has-background-primary-dark has-text-white">
        <p class="has-text-centered">
            Copyright © 2022-2024 genhirano
        </p>
        <p class="has-text-centered">
            All Rights Reserved
        </p>
        <p align="center">
            <a class="button is-link" href="https://www.facebook.com/genhirano" target="_blank">
                contact : <span class="icon"><i class="fab fa-facebook"></i></span>
            </a>
            <a class="button is-black" href="https://github.com/genhirano" target="_blank">
                contact : <span class="icon"><i class="fab fa-github"></i></span>
            </a>
        </p>
    </footer>

</body>

</html>